# Traditional .NET Stuff
packages/
**/[Oo]bj/
**/[Bb]in/
.vs/
*.user

# Paket Dependency Manager
.paket/paket.exe
paket-files/
.paket/

# vscode
.ionide
.vscode

# JetBrains
.idea
*.dotCover
*.sln.iml
